# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Dort Islem.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Dort Islem\.idea\.idea.Dort Islem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
